.header {
  background-color: #111;
  min-height: 5rem;
  min-width: 100vw;
  padding: 1.5rem;
  color: hsl(0, 0%, 100%);
}

.clip-circle {
  clip-path: circle(150px at center);
}

.home-description {
  margin-right: 10rem;
}

.home-title {
  color: #222CF2;
  font-weight: bolder;
  font-size: 6rem;
  margin-bottom: -1rem;
}